.footer {
  background-color:#9ECAD6;
  color: #FFEAEA;
  text-align: center;
  width: 100%;
  height: 10vh;
}

.footer__content {
  max-width: 960px;
  margin: 0 auto;
}

.footer__nav {
  margin-top: 0.5rem;
}

.footer__nav a {
  color: #aaa;
  margin: 0 0.75rem;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer__nav a:hover {
  color: #fff;
}
