:root {
  font-family: "Elms Sans", sans-serif, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #748DAE;
  background-color: #F5CBCB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}
a:hover {
  color: #F5CBCB;
}

.btn_detalle{
background-color: #748DAE;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: "Elms Sans", sans-serif;
  background-color: #748DAE;
  cursor: pointer;
  transition: border-color 0.25s;
}


